.intro__subtitle {
  padding: 0;
  margin: 0;
  width: 865px;
  text-align: start;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 173.69%;
  }