.input-error {
    display: block;
    margin: 0 auto 0;
    padding: 5px 0 0;
    color: red;
    width: 358px;
    text-align: start;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}