.popup__form {
  background-color: #858282;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  border: solid #252323;
}