.popup__submit {
  margin: 0;
  padding: 0;

  grid-area: submit;
  width: 300px;
  height: 60px;
  background: #436BFA;
  border-radius: 9px;

  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #FFFFFF;
}