.popup__title {
  margin: 0;
  padding: 0;
  width: 617px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 136%;
  color: #436BFA;
  grid-area: title;
}